@use './layout' as *;
@use './markdown' as *;
@use './scrollbar' as *;
@use './font-face' as *;


body {
  font-family: var(--az-font-family-seto);
  @apply transition-colors duration-200;
  color: var(--va-c-text);
}

#app {
  @apply transition-none;
  min-height: 100vh;
}

a {
  @apply transition-colors;
  color: var(--az-c-primary-light);

  &:hover {
    --un-text-opacity: 1;
    color: var(--az-c-primary-dark);
  }
}

html,
body {
  scroll-behavior: smooth;
}

#nprogress {
  pointer-events: none;

  .bar {
    top: 0;
    // margin-top: -5px;
    height: 5px;
    opacity: 0.75;
    background: var(--az-c-primary);
    position: fixed;
    z-index: 1031;
    left: 0;
    width: 100%;
    border-radius: 5px;
  }
}


@media (min-width: 1200px) {
  .breakpoint {
    width: 72.5rem;
  }
}

@media (max-width: 1200px) {
  .breakpoint {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1600px) {
  .breakpoint {
    width: 75vw;
  }
}

body {
  // background-image: linear-gradient(to top, #f7f7f7 0, #fdfdfd 20%) no-repeat bottom;
}
